.head{
 
background-color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
font-size: 30px;
font-weight: bold;
font-style: italic;
text-transform:lowercase;


}






